<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Divino Alimento - Akarui</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/index-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />
    <link rel="stylesheet" href="/styles/pages/index-cesta.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script src="scripts/index-cesta.js" defer type="module"></script>
  </head>
  <body id="page-index">

    <%- include('parts/index-header', {
      button_text:'Adicionar Novo Tipo de Cesta',
      button_link:'cesta'
      }) %> 

    <div class="container">
      <main class="animate-up delay-2">
        <h1 class="sr-only">Cestas</h1>

        <div class="cards">

          <% 
            i = 0;
            cestas.forEach((cesta) => { 
            i += 1%>
           
            <div class="card <%= cesta.status %> " data-id="<%= cesta.id %> ">
              <div class="id column"><%= i %> </div>
              <div class="name column">
                <%= cesta.nome %> 
              </div>
              <div class="deadline column">
                <span>Valor máximo</span>
                <p> R$ <%= cesta.valormaximo %> </p>
              </div>
              <div class="amount column">
                <span></span>
                <p></p>
              </div>
              <div class="status badge column">
                <%= cesta.status === 'inativo' ? 'Inativo' : 'Ativo' %> 
              </div>
              <div class="actions column flex">
                <p class="sr-only">Ações</p>
                <a 
                  href="/cesta/<%= cesta.id %> " 
                  class="button white edit" 
                  title="Editar Tipo de Cesta">
                  <img src="/images/edit-24.svg" alt="Editar Tipo de Cesta" />
                </a>
                <button class="delete button white" title="Excluir Tipo de Cesta">
                  <img src="/images/trash-24.svg" alt="Excluir Tipo de Cesta" />
                </button>
              </div>
            </div>
            <!-- end card -->

          <% }) %>
      </main>
    </div>
    <!-- end container -->

    <div class="modal-wrapper">
      <div class="modal">
        <img src="/images/trash-48.svg" alt="Excluir Tipo de Cesta" title="Excluir Tipo de Cesta" />
        <h3>Excluir Tipo de Cesta</h3>
        <p>Quer mesmo excluir esse tipo de cesta? <br/>
        Ele será apagado para sempre.  
        <p>
        <footer>
          <a 
            class="button gray" 
            href="#">Cancelar</a>
          <button
            class="button red"
            type="submit"
            form="delete-cesta">Excluir Tipo de Cesta</button>
        </footer>
      </div>
      <form 
        method="post" 
        action="/cesta/delete" 
        id="delete-cesta"></form>
    </div>
    <!-- end modal-wrapper -->
  </body>
</html>
