<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Divino Alimento - Akarui</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/header.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/index-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <link rel="stylesheet" href="/styles/partials/forms.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- links bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="/styles/pages/composicao.css" />

    <!--<script>
      $(document).ready(function(){
        $("#searchCestaCiclo").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $(".dropdown-menu li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>-->

  <script>
    $(document).ready(function(){
      $("#searchProduto").on("keyup", function() {
        //var value = $(this).val().toLowerCase();
        //value = replaceSpecialChars(value)
        var value = replaceSpecialChars($(this).val().toLowerCase())
        $("#listaProdutos table.tabelaproduto").filter(function() {
          //$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          //var value2 = $(this).text().toLowerCase();
          //value2 = replaceSpecialChars(value2)
          var value2 = replaceSpecialChars($(this).text().toLowerCase())
          $(this).toggle(value2.indexOf(value) > -1)
        });
      });
    });

    function replaceSpecialChars(str)	{
      if (!str) return ''
      str = str.toString()
      str = str.replace(/[aáàãäâ]/,'a')
      str = str.replace(/[eéèëê]/,'e')
      str = str.replace(/[iíìïî]/,'i')
      str = str.replace(/[oóòõöô]/,'o')
      str = str.replace(/[uúùüû]/,'u')
      str = str.replace(/[ç]/,"c")
      return str 
    }


    var userSelection = document.getElementsByClassName('inputmenor');
    for(let i = 0; i < userSelection.length; i++) {
            userSelection[i].addEventListener('keydown', function(e) {
                if (e.which === 38 || e.which === 40) {
                  e.preventDefault();
                }
            })
    }

  </script>


  </head>
  <body id="page-composicao">

   
    <!--<e%- include('parts/index-header', {
      button_text:'vazio',
      button_link:''
      }) %>-->
    
    <%- include('parts/header', {
      button_text:'vazio',
      button_link:''
      }) %>

    <div class="container">
      <main>

        <div class="info_ciclo">
          <h2>CICLO&nbsp<%= ciclo.nome %></h2>
          <p>Pedidos extras finalizam em<%
                if (ciclo.retiradaConsumidorFim) { %>
                <%=
                  ciclo.itensAdicionaisFim.toISOString().substr(8,2)%>/<%=
                  ciclo.itensAdicionaisFim.toISOString().substr(5,2)%>/<%=
                  ciclo.itensAdicionaisFim.toISOString().substr(0,4)%><%=
                  ciclo.itensAdicionaisFim.toISOString().substr(11,5)%>
                <% } %> 
          </p>
          <br>
        </div>


        <form id="form-composicao"
          method="POST"
          action="/composicaosave" >
          <fieldset>
            <legend>Atribuição Pedidos Extras</legend>

            <div class="input-wrapper">
              <h4>
                Quantidade de Itens Atribuídos: <%= quantItensCesta %>
              </h4>
            </div>
            <input 
                  type="hidden"
                  id= "composicaoId"
                  name= "composicaoId"
                  value="<%= composicao.id %>"
              />
              <input 
                  type="hidden"
                  id= "cicloId"
                  name= "cicloId"
                  value="<%= ciclo.id %>"
              />
              <input 
                  type="hidden"
                  id= "cicloCestaId"
                  name= "cicloCestaId"
                  value="<%= cicloCestaSel.id %>"
              />
          
          <div id="listaProdutosComposicao">
            <h4>
                Produtos atribuídos:
            </h4>
          <table class="table table-bordered">
            <thead>
                <th scope="col"  width="20%">Produto</th>
                <th scope="col" width="10%">Medida</th>
                <th scope="col" width="10%">Valor</th>
                <th scope="col" width="15%">Fornecedor</th>
                <th scope="col" width="7%">Ofertados</th>
                <th scope="col" width="9%">Valor Acumulado</th>
                <th scope="col" width="7%">Disponibi lizados</th>
                <th scope="col" width="7%">Compras Extras</th>
                <th scope="col"width="15%">Composição</th>
                <!--<th scope="col"width="10%">Old Pedidos</th>-->

            </thead>
          <!--</table>-->
                <% ofertaProdutosDadosComposicao.forEach(produtoOfertado => {
                   nomeInput = 'quantidade' + produtoOfertado.id.toString()
                %>
                  <% if (produtoOfertado.nome) {%>
                    <%if (produtoOfertado.id = ofertaProdutosDados[0].id) {%>
                        <!--<table class="table">--><tr class="linhaProduto">
                    <% } else { %>
                        <!--</table>-->
                        <!--<table class="table">--><tr class="linhaProduto">
                    <% } %>
                  <% } else { %>
                  <tr>
                  <% } %>
                      <th width="20%">
                            <%= produtoOfertado.nome %>
                      </th>
                      <td width="10%">
                            <%= produtoOfertado.medida %>
                      </td>
                      <td width="10%">
                            <% if (produtoOfertado.valorReferencia) {%>
                              R$ <%= produtoOfertado.valorReferencia.toFixed(2).replace('.',',' ) %>
                            <% } %>
                      </td>
                      <td width="15%">
                            <%= produtoOfertado.fornecedor %>
                      </td>
                      <td width="7%">
                            <%= produtoOfertado.quantidadeOfertados %>
                      </td>
                      <td width="9%">
                        <% if (produtoOfertado.valorTotalPedidoAcumulado) {%>    
                            R$ <%= produtoOfertado.valorTotalPedidoAcumulado.toFixed(2).replace('.',',' ) %>
                        <% } %>
                      </td>
                      <td width="7%">
                        <%= produtoOfertado.totalDisponiveis %>
                      </td>
                      <td width="7%">
                        <%= produtoOfertado.quantPedidosExtras %>
                      </td>
                      <td width="15%">
                         <!--<e% if (produtoOfertado.fornecedor) {%e>-->
                            <%= produtoOfertado.quantidade %>
                        <!--<e% } else {%e>-->
                          
                        <!--<e% } %>-->
                      </td>
                      <!--<td width="10%">
                        <%= produtoOfertado.quantidadePedido %>
                      </td>-->
                  </tr>
                <% }) %>
                <!--</table>-->
                
            
          </table>

        </div>
        
        <div id="produtosOfertados">

        <div id="listaProdutos">
            <div class="fixo">
                  <div class="pesquisa_salvar">
                    <h3>
                      Todos os Produtos Ofertados:
                    </h3>
                    <button 
                        class="button green" 
                        form="form-composicao"
                        type="submitSalvar" 
                        title="Salvar Dados">Salvar</button>
                    <p>Utilize o filtro de fornecedores/produtos para lhe auxiliar:</p>  
                    <input class="form-control" id="searchProduto" type="text" placeholder="Digite o nome do fornecedor ou produto..">
                    <br>
                  </div>
                  <table class="topo-tabela table table-bordered">
                    <thead>
                        <th scope="col"  width="20%">Produto</th>
                        <th scope="col"  width="10%">Medida</th>
                        <th scope="col" width="10%">Valor</th>
                        <th scope="col" width="15%">Fornecedor</th>
                        <th scope="col" width="7%">Ofertados</th>
                        <th scope="col" width="9%">Valor Acumulado</th>
                        <th scope="col" width="7%">Disponibi lizados</th>
                        <th scope="col" width="7%">Compras Extras</th>
                        <th scope="col"width="15%">Composição</th>
                        <!--<th scope="col"width="10%">Old Pedidos</th>-->

                    </thead>
                  </table>
              </div>
                <% ofertaProdutosDados.forEach(produtoOfertado => {
                   nomeInput = 'quantidade' + produtoOfertado.id.toString()
                %>
                  <% if (produtoOfertado.nome) {%>
                    <%if (produtoOfertado.id = ofertaProdutosDados[0].id) {%>
                        <table class="tabelaproduto table  table-bordered">
                    <% } else { %>
                        </table>
                        <table class=" tabelaproduto table table-bordered">
                    <% } %>
                  <% } %>

                      <% if (produtoOfertado.quantPedidosExtras > 0) {%>
                          <tr>
                            <th width="20%">
                                  <%= produtoOfertado.nome %>
                            </th>
                            <td width="10%">
                                  <%= produtoOfertado.medida %>
                            </td>
                            <td width="10%">
                                  <% if (produtoOfertado.valorReferencia) {%>
                                    R$ <%= produtoOfertado.valorReferencia.toFixed(2).replace('.',',' ) %>
                                  <% } %>
                            </td>
                            <td width="15%">
                                  <%= produtoOfertado.fornecedor %>
                            </td>
                            <td width="7%">
                                  <%= produtoOfertado.quantidadeOfertados %>
                            </td>
                            <td width="9%">
                              <% if (produtoOfertado.valorTotalPedidoAcumulado) {%>    
                                  R$ <%= produtoOfertado.valorTotalPedidoAcumulado.toFixed(2).replace('.',',' ) %>
                              <% } %>
                            </td>
                            <td width="7%">
                              <%= produtoOfertado.totalDisponiveis %>
                            </td>
                            <td width="7%">
                              <%= produtoOfertado.quantPedidosExtras %>
                            </td>
                            <td width="15%">
                              <% if (produtoOfertado.fornecedor) {%>
                                  <input class="inputmenor"
                                    type="number"
                                    id= "<%= nomeInput %>"
                                    name="<%= nomeInput %>"
                                    value="<%= produtoOfertado.quantidade %>"
                                    style="min-width: 60px"
                                  />
                              <% } else {%>
                                <%= produtoOfertado.quantidade %>
                              <% } %>
                            </td>
                            <!--<td width="10%">
                              <%= produtoOfertado.quantidadePedido %>
                            </td>-->
                        </tr>
                    <% } %>
                <% }) %>
                </table>
                
            
          </table>
        </div>

        </div> 



          </fieldset>
    
        </form>
      </main>
      
    </div>
    <!-- end container -->

  </body>
</html>
 