<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Divino Alimento - Akarui</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/header.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/index-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <link rel="stylesheet" href="/styles/partials/forms.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- links bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="/styles/pages/composicao.css" />

    <!--<script>
      $(document).ready(function(){
        $("#searchCestaCiclo").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $(".dropdown-menu li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>-->

  <script>
    $(document).ready(function(){
      $("#searchProduto").on("keyup", function() {
        //var value = $(this).val().toLowerCase();
        //value = replaceSpecialChars(value)
        var value = replaceSpecialChars($(this).val().toLowerCase())
        $("#listaProdutos table.tabelaproduto").filter(function() {
          //$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          //var value2 = $(this).text().toLowerCase();
          //value2 = replaceSpecialChars(value2)
          var value2 = replaceSpecialChars($(this).text().toLowerCase())
          $(this).toggle(value2.indexOf(value) > -1)
        });
      });
    });

    function replaceSpecialChars(str)	{
      if (!str) return ''
      str = str.toString()
      str = str.replace(/[aáàãäâ]/,'a')
      str = str.replace(/[eéèëê]/,'e')
      str = str.replace(/[iíìïî]/,'i')
      str = str.replace(/[oóòõöô]/,'o')
      str = str.replace(/[uúùüû]/,'u')
      str = str.replace(/[ç]/,"c")
      return str 
    }


    var userSelection = document.getElementsByClassName('inputmenor');
    for(let i = 0; i < userSelection.length; i++) {
            userSelection[i].addEventListener('keydown', function(e) {
                if (e.which === 38 || e.which === 40) {
                  e.preventDefault();
                }
            })
    }

  </script>


  </head>
  <body id="page-composicao">

   
    <!--<e%- include('parts/index-header', {
      button_text:'vazio',
      button_link:''
      }) %>-->
    
    <%- include('parts/header', {
      button_text:'vazio',
      button_link:''
      }) %>

    <div class="container">
      <main>
        
        <div class="info_ciclo">
          <h2>CICLO&nbsp<%= ciclo.nome %></h2>
          <p>Pedidos extras programados para<%
                if (ciclo.retiradaConsumidorFim) { %>
                <%=
                  ciclo.itensAdicionaisInicio.toISOString().substr(8,2)%>/<%=
                  ciclo.itensAdicionaisInicio.toISOString().substr(5,2)%>/<%=
                  ciclo.itensAdicionaisInicio.toISOString().substr(0,4)%><%=
                  ciclo.itensAdicionaisInicio.toISOString().substr(11,5)%>
                <% } %> 
          </p>
          <br>
        </div>

        <form id="form-composicao"
          method="POST"
          action="/composicaosave" >
          <fieldset>
            <legend>Composição</legend>

            

            <div class="input-wrapper">
              <h3>
                Tipo de cesta selecionada:
              </h3>
              <h4>
                Cesta: 
                <% if (cicloCestaSel) { %>
                  <%= cicloCestaSel.nome %>
                <% } %>
              </h4>
              <h4>
                Quantidade: 
                <% if (cicloCestaSel) { %>
                  <%= cicloCestaSel.quantidade %>
                <% } %>
              </h4>
              <h4>
                Valor Máximo por cesta individual: 
                <% if (cicloCestaSel) { %>
                  R$ <%= cicloCestaSel.valormaximo.toFixed(2).replace('.',',' ) %>
                <% } %>
              </h4>
              <h4>
                Cálculos (salve para atualizar):
              </h4>
              <h4>
                * Valor por cesta: R$ <%= valorCesta.toFixed(2).replace('.',',' ) %><%
                if (valorCestaDiferenca >= 0) {%>
                  <span style="color: green;font-size:18px;">
                    (  -<%= valorCestaDiferenca.toFixed(2).replace('.',',' ) %>)
                  </span>
                <%} else {%>
                  <span style="color: red;font-size:18px;">
                    ( +<%= valorCestaDiferenca.toFixed(2).replace('.',',' ) %>)
                  </span>
                <%}%>
              </h4>
              <h4>
                * Itens por cesta: <%= quantItensCesta.toFixed(2).replace('.',',' ) %>
              </h4>
            </div>
            <input 
                  type="hidden"
                  id= "composicaoId"
                  name= "composicaoId"
                  value="<%= composicao.id %>"
              />
              <input 
                  type="hidden"
                  id= "cicloId"
                  name= "cicloId"
                  value="<%= ciclo.id %>"
              />
              <input 
                  type="hidden"
                  id= "cicloCestaId"
                  name= "cicloCestaId"
                  value="<%= cicloCestaSel.id %>"
              />
            
            <div id="selecaoCestaCiclo" class="input-wrapper">
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Alterar tipo de cesta
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <input class="form-control" id="searchCestaCiclo" type="text" placeholder="Busque o tipo de cesta..">
                    <% cicloCestasVisiveis.forEach(cicloCesta => { %>
                      <li><a href="?cst=<%= cicloCesta.id %>"><%= cicloCesta.nome %></a></li>
                    <% }) %>
                </ul>
              </div>
            </div>

          <div id="listaProdutosComposicao">
            <h3>
                Produtos selecionados Composição:
            </h3>
          <table class="table table-bordered">
            <thead>
                <th scope="col"  width="20%">Produto</th>
                <th scope="col" width="10%">Medida</th>
                <th scope="col" width="10%">Valor</th>
                <th scope="col" width="15%">Fornecedor</th>
                <th scope="col" width="10%">Ofertados</th>
                <th scope="col" width="10%">Valor Acumulado</th>
                <th scope="col" width="10%">Disponíveis</th>
                <th scope="col"width="15%">Pedidos</th>
                <!--<th scope="col"width="10%">Old Pedidos</th>-->

            </thead>
          <!--</table>-->
                <% ofertaProdutosDadosComposicao.forEach(produtoOfertado => {
                   nomeInput = 'quantidade' + produtoOfertado.id.toString()
                %>
                  <% if (produtoOfertado.nome) {%>
                    <%if (produtoOfertado.id = ofertaProdutosDados[0].id) {%>
                        <!--<table class="table">--><tr class="linhaProduto">
                    <% } else { %>
                        <!--</table>-->
                        <!--<table class="table">--><tr class="linhaProduto">
                    <% } %>
                  <% } else { %>
                  <tr>
                  <% } %>
                      <th width="20%">
                            <%= produtoOfertado.nome %>
                      </th>
                      <td width="10%">
                            <%= produtoOfertado.medida %>
                      </td>
                      <td width="10%">
                            <% if (produtoOfertado.valorReferencia) {%>
                              R$ <%= produtoOfertado.valorReferencia.toFixed(2).replace('.',',' ) %>
                            <% } %>
                      </td>
                      <td width="15%">
                            <%= produtoOfertado.fornecedor %>
                      </td>
                      <td width="10%">
                            <%= produtoOfertado.quantidadeOfertados %>
                      </td>
                      <td width="10%">
                        <% if (produtoOfertado.valorTotalPedidoAcumulado) {%>    
                            R$ <%= produtoOfertado.valorTotalPedidoAcumulado.toFixed(2).replace('.',',' ) %>
                        <% } %>
                      </td>
                      <td width="10%">
                        <%= produtoOfertado.totalDisponiveis %>
                      </td>
                      <td width="15%">
                         <!--<e% if (produtoOfertado.fornecedor) {%e>-->
                            <%= produtoOfertado.quantidade %>
                        <!--<e% } else {%e>-->
                          
                        <!--<e% } %>-->
                      </td>
                      <!--<td width="10%">
                        <%= produtoOfertado.quantidadePedido %>
                      </td>-->
                  </tr>
                <% }) %>
                <!--</table>-->
                
            
          </table>

        </div>
        
        <div id="produtosOfertados">

        <div id="listaProdutos">
            <div class="fixo">
                  <div class="pesquisa_salvar">
                    <h3>
                      Todos os Produtos Ofertados:
                    </h3>
                    <button 
                        class="button green" 
                        form="form-composicao"
                        type="submitSalvar" 
                        title="Salvar Dados">Salvar</button>
                    <p>Utilize o filtro de fornecedores/produtos para lhe auxiliar:</p>  
                    <input class="form-control" id="searchProduto" type="text" placeholder="Digite o nome do fornecedor ou produto..">
                    <br>
                  </div>
                  <table class="topo-tabela table table-bordered">
                    <thead>
                        <th scope="col"  width="20%">Produto</th>
                        <th scope="col"  width="10%">Medida</th>
                        <th scope="col" width="10%">Valor</th>
                        <th scope="col" width="15%">Fornecedor</th>
                        <th scope="col" width="10%">Ofertados</th>
                        <th scope="col" width="10%">Valor Acumulado</th>
                        <th scope="col" width="10%">Disponíveis</th>
                        <th scope="col"width="15%">Pedidos</th>
                        <!--<th scope="col"width="10%">Old Pedidos</th>-->

                    </thead>
                  </table>
              </div>
                <% ofertaProdutosDados.forEach(produtoOfertado => {
                   nomeInput = 'quantidade' + produtoOfertado.id.toString()
                %>
                  <% if (produtoOfertado.nome) {%>
                    <%if (produtoOfertado.id = ofertaProdutosDados[0].id) {%>
                        <table class="tabelaproduto table  table-bordered">
                        <% if (Number(produtoOfertado.totalDisponiveis) >= Number(cicloCestaSel.quantidade)) { %>
                            <tr class="linhaProduto" style='background-color: #81C784'>
                        <% } else { %>
                              <% if (Number(produtoOfertado.totalDisponiveis) >= Number(cicloCestaSel.quantidade)/2) { %>
                                    <tr class="linhaProduto" style='background-color: #FFF176'>
                              <% } else { %>
                                    <tr class="linhaProduto" style='background-color: #D1C4E9'>
                              <% } %>
                        <% } %>
   
                    <% } else { %>
                        </table>
                        <table class=" tabelaproduto table table-bordered">
                          <% if (Number(produtoOfertado.totalDisponiveis) >= Number(cicloCestaSel.quantidade)) { %>
                                  <tr class="linhaProduto" style='background-color: #81C784'>
                          <% } else { %>
                                  <% if (Number(produtoOfertado.totalDisponiveis) >= Number(cicloCestaSel.quantidade)/2) { %>
                                        <tr class="linhaProduto" style='background-color: #FFF176'>
                                  <% } else { %>
                                        <tr class="linhaProduto" style='background-color: #D1C4E9'>
                                  <% } %>
                          <% } %>
                    <% } %>
                  <% } else { %>   
                        <tr>
                  <% } %>
                      <th width="20%">
                            <%= produtoOfertado.nome %>
                      </th>
                      <td width="10%">
                            <%= produtoOfertado.medida %>
                      </td>
                      <td width="10%">
                            <% if (produtoOfertado.valorReferencia) {%>
                              R$ <%= produtoOfertado.valorReferencia.toFixed(2).replace('.',',' ) %>
                            <% } %>
                      </td>
                      <td width="15%">
                            <%= produtoOfertado.fornecedor %>
                      </td>
                      <td width="10%">
                            <%= produtoOfertado.quantidadeOfertados %>
                      </td>
                      <td width="10%">
                        <% if (produtoOfertado.valorTotalPedidoAcumulado) {%>    
                            R$ <%= produtoOfertado.valorTotalPedidoAcumulado.toFixed(2).replace('.',',' ) %>
                        <% } %>
                      </td>
                      <td width="10%">
                        <%= produtoOfertado.totalDisponiveis %>
                      </td>
                      <td width="15%">
                         <% if (produtoOfertado.fornecedor) {%>
                            <input class="inputmenor"
                              type="number"
                              id= "<%= nomeInput %>"
                              name="<%= nomeInput %>"
                              value="<%= produtoOfertado.quantidade %>"
                              style="min-width: 60px"
                            />
                        <% } else {%>
                          <%= produtoOfertado.quantidade %>
                        <% } %>
                      </td>
                      <!--<td width="10%">
                        <%= produtoOfertado.quantidadePedido %>
                      </td>-->
                  </tr>
                <% }) %>
                </table>
                
            
          </table>
        </div>

        </div> 



          </fieldset>
    
        </form>
      </main>
      
    </div>
    <!-- end container -->

  </body>
</html>
 