<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Divino Alimento - Akarui</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/header.css" />
    <link rel="stylesheet" href="/styles/partials/index-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <link rel="stylesheet" href="/styles/partials/forms.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- links bootstrap -->
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="/styles/pages/pedidoConsumidores.css" />

    <script>
      $(document).ready(function(){
        $("#searchUsuario").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          value = replaceSpecialChars(value)
          $(".dropdown-menu li").filter(function() {
            var value2 = replaceSpecialChars($(this).text().toLowerCase())
            $(this).toggle(value2.indexOf(value) > -1)
          });
        });
      });
    </script>

  <script>
    $(document).ready(function(){
      $("#searchProduto").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        value = replaceSpecialChars(value)
        $("#principal section.product").filter(function() {
          //$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          //var value2 = $(this).text().toLowerCase()
          //value2 = replaceSpecialChars(value2)
          var value2 = replaceSpecialChars($(this).text().toLowerCase())
          $(this).toggle(value2.indexOf(value) > -1)
        });
      });
    });

    function replaceSpecialChars(str)	{
      if (!str) return ''
      str = str.toString()
      str = str.replace(/[aáàãäâ]/,'a')
      str = str.replace(/[eéèëê]/,'e')
      str = str.replace(/[iíìïî]/,'i')
      str = str.replace(/[oóòõöô]/,'o')
      str = str.replace(/[uúùüû]/,'u')
      str = str.replace(/[ç]/,"c")
      return str 
    }
  </script>


  </head>
  <body id="page-pedidosFornecedores">

   
    <%- include('parts/header', {
      button_text:'vazio',
      button_link:''
      }) %>


  <!--<div class="container flex animate-up delay-2">-->
  <div class="container">
      <main>

        <div class="info_ciclo">
          <h3>CICLO&nbsp<%= ciclo.nome %></h3>
          <p>Finalize seu pedido extra até&nbsp<%
                if (ciclo.retiradaConsumidorFim) { %>
                <%=
                  ciclo.itensAdicionaisFim.toISOString().substr(8,2)%>/<%=
                  ciclo.itensAdicionaisFim.toISOString().substr(5,2)%>/<%=
                  ciclo.itensAdicionaisFim.toISOString().substr(0,4)%>&nbsp às &nbsp<%=
                  ciclo.itensAdicionaisFim.toISOString().substr(11,5)%>
                <% } %> 
          </p>
          <br>
        </div>

        <form id="form-pedidoConsumidores"
          method="POST"
          action="/pedidoconsumidores" >

          <div class="secao_selecao">
            <legend>Pedidos Extras</legend>

            <div class="selecao">
              <h4>
                Consumidor: 
                <% if (usuarioConsumidor) { %>
                  <%= usuarioConsumidor.nome %>
                <% } %>
              </h4>
            </div>
            <input 
                  type="hidden"
                  id= "pedidoConsumidorId"
                  name= "pedidoConsumidorId"
                  value="<%= pedidoConsumidorId %>"
              />
              <input 
                  type="hidden"
                  id= "cicloId"
                  name= "cicloId"
                  value="<%= ciclo.id %>"
              />
              <input 
                  type="hidden"
                  id= "usuarioConsumidorId"
                  name= "usuarioConsumidorId"
                  value="<%= usuarioConsumidor.id %>"
              />
            
              <%  console.log('PERFIL_UsuarioAtivo',usuarioAtivo.perfil.indexOf('admin'))
                  if ( usuarioAtivo.perfil) {
                    if ( usuarioAtivo.perfil.indexOf('admin') >= 0 ) { %>
                      <div id="selecaoUsuario" class="input-wrapper">
                        <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Selecione seu nome&nbsp;&nbsp;&nbsp;   
                          <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <input class="form-control" id="searchUsuario" type="text" placeholder="Busque o consumidor..">
                              <% usuarios.forEach(usuario => { %>
                                <li><a href="?usr=<%= usuario.id %>"><%= usuario.nome %></a></li>
                              <% }) %>
                          </ul>
                        </div>
                    </div>
              <% }} %>
            </div>
            
        <div class="itens_pedidos">

          <div class="pedidoFornecedor">
            <div style= "font-size: 18px;margin-top: 20px;">
              CESTA DA SEMANA:
            </div>
            <!--<e% produtosComposicaoDados.forEach(produtoComposicao => { %e>
              <div style= "margin-left: 20px;">
                <e%= produtoComposicao.quantidade %> <e%= produtoComposicao.nome %e>
              </div>
            <e% }) %e>-->
            <div style= "margin-left: 20px;">
              <% if (ciclo.observacao) { %>
                  <span><%= ciclo.observacao %></span>
              <% } else { %>
                <span></span>
              <% } %>
            </div>
          </div>
            

          <% if (produtosPedidos.length > 0) {%>
              <%  let consumidorCorrente = 0
                  let consumidorAnterior = 0
                  let totalPedido = 0
                  let valorPedidoPorItem = 0
                  let taxaAdministracao = 0
                  let taxaPorProduto = 0.5
                  produtosPedidos.forEach(produtoPedido => {
                      consumidorCorrente = produtosPedidos.consumidorId
                      if (consumidorCorrente != consumidorAnterior) {
              %>
           
                          <% if (consumidorAnterior != 0) {%>
                              </div>
                          <% } 
                             consumidorAnterior = consumidorCorrente
                          %>
                          <div class="pedidoFornecedor">
                          <div style= "font-size: 18px;margin-top: 20px;">
                            PEDIDO:
                          </div>
                          <div style= "margin-left: 20px;">
                            <%= produtoPedido.quantidade %> <%= produtoPedido.nome %>
                            <% valorPedidoPorItem = (produtoPedido.quantidade * produtoPedido.valorReferencia)
                                 totalPedido = (totalPedido + valorPedidoPorItem)
                                 taxaAdministracao = taxaAdministracao + (produtoPedido.quantidade * taxaPorProduto) %>
                                (R$ <%= valorPedidoPorItem.toFixed(2).replace('.',',' ) %>)
                          </div>
                    <% } else { %>
                        <div style= "margin-left: 20px;">
                          <%= produtoPedido.quantidade %> <%= produtoPedido.nome %>
                          <% valorPedidoPorItem = (produtoPedido.quantidade * produtoPedido.valorReferencia)
                                 totalPedido = (totalPedido + valorPedidoPorItem)
                                 taxaAdministracao = taxaAdministracao + (produtoPedido.quantidade * taxaPorProduto) %>
                                (R$ <%= valorPedidoPorItem.toFixed(2).replace('.',',' ) %>)
                        </div>
         <% } %>
         
         <% }) %>

        <div style= "font-size: 18px;margin-top: 20px;">
                 <br> Total pedido R$ <span><%= totalPedido.toFixed(2).replace('.',',' ) %></span>
        </div>
         <div style= "font-size: 18px;margin-top: 20px;">
                 <br> Taxa administrativa R$ <span><%= taxaAdministracao.toFixed(2).replace('.',',' ) %></span>
        </div>
        <div style= "margin-top:4px;">
                <i>( R$ 0,50 por item )</i>
        </div>
        <div class="price">
                 <br> TOTAL R$ <span><%= (totalPedido + taxaAdministracao).toFixed(2).replace('.',',' ) %></span>
        </div>

        <div class="mensagem_pedido" >
            <span> Pedido não finalizado. Escolha os produtos e confirme seu pedido!</span>
        </div>

       </div>
       <br><br>

      <% } %>

    </div>

        
            <div class="pesquisa">  
              
              <div class="pesq_titulo">
                     ACRESCENTE NOVOS PEDIDOS, SELECIONANDO ABAIXO:
               </div>
           
              <div class="pesq_input">
                <p>Utilize o filtro de produtos para lhe auxiliar:</p>  
                <input class="form-control" id="searchProduto" type="text" placeholder="Digite o nome do produto..">
                <br>
              </div>

              <!--<div class="container_salvar">
                <%if (statusPedido == 'finalizado') { %>
                  <button class="buy--btn"
                                form="form-pedidoConsumidores"
                                type="submitSalvar" 
                                title="Finalizar Pedido"
                                name="finalizarPedido"
                                disabled>
                                PEDIDO FINALIZADO</button>
                <% } else { %>
                  <button class="buy--btn"
                                form="form-pedidoConsumidores"
                                type="submitSalvar" 
                                title="Salvar Dados"
                                name="salvarPedido">
                                CONFIRMAR PEDIDO</button>
                  <button class="buy--btn"
                                form="form-pedidoConsumidores"
                                type="submitSalvar" 
                                title="Finalizar Pedido"
                                name="finalizarPedido">
                                FINALIZAR PEDIDO</button>
                <% } %>
              </div>-->
              

            </div>
        
          
            <div id="principal">
              <div class="cardsPedidoConsumidor">
                
                      <%  produtosPedidosConsumidorDados.forEach(produtoPedidoConsumidorDados => {
                          nomeInput = 'quantidade' + produtoPedidoConsumidorDados.id.toString()
                          nomeColap = 'beneficio' + produtoPedidoConsumidorDados.id.toString()
                
                      %>
                      <section class="product">
                        <div class="productInfo">
                          <div class="title" >
                              <h1>
                                <%= produtoPedidoConsumidorDados.nome %>
                                &nbsp;(<%= produtoPedidoConsumidorDados.medida%>)
                              </h1>
                              <span>Fornecedor:&nbsp;&nbsp;<%= produtoPedidoConsumidorDados.fornecedores %></span><br>
           
                                <% if (produtoPedidoConsumidorDados.quantidadeDisponivel == 1) { %> 
                                  <span class="quantItemDisp"> <%= produtoPedidoConsumidorDados.quantidadeDisponivel %></span><span>&nbsp;&nbsp;item disponível</span>
                                <% } else { %>
                                  <span class="quantItemDisp"> <%= produtoPedidoConsumidorDados.quantidadeDisponivel %></span><span>&nbsp;&nbsp;itens disponíveis</span>
                                <% } %>
                          </div>

                          <div class="price" >
                              R$ <span><%= produtoPedidoConsumidorDados.valorReferencia.toFixed(2).replace('.',',' ) %></span>
                          </div>
                          
                          <div class="quantity">
                            <%if (statusPedido == 'finalizado') { %>
                              <% if ( usuarioAtivo.perfil) {
                                   if ( usuarioAtivo.perfil.indexOf('admin') >= 0 ) { %>
                                    <select class="form-select"
                                        aria-label="Selecione a quantidade"
                                        id= "<%= nomeInput %>"
                                        name="<%= nomeInput %>">
                                        <% for (let index = 0; index <= produtoPedidoConsumidorDados.quantidadeDisponivel; index++) {
                                          %>
                                          <% if (index == produtoPedidoConsumidorDados.quantidade) {%>
                                              <option value="<%=index%>" selected><%=index%></option>
                                          <% } else { %>
                                              <option value="<%=index%>"><%=index%></option>
                                          <% } %>
                                        <% } %>
                                    </select>
                              <% } else { %>
                                    <select class="form-select"
                                            aria-label="Selecione a quantidade"
                                            id= "<%= nomeInput %>"
                                            name="<%= nomeInput %>"
                                            disabled>
                                        <% for (let index = 0; index <= produtoPedidoConsumidorDados.quantidadeDisponivel; index++) {
                                          %>
                                          <% if (index == produtoPedidoConsumidorDados.quantidade) {%>
                                              <option value="<%=index%>" selected><%=index%></option>
                                          <% } else { %>
                                              <option value="<%=index%>"><%=index%></option>
                                          <% } %>
                                        <% } %>
                                    </select>
                              <% }} %>
                            <% } else { %>
                                <select class="form-select"
                                        aria-label="Selecione a quantidade"
                                        id= "<%= nomeInput %>"
                                        name="<%= nomeInput %>">
                                    <% for (let index = 0; index <= produtoPedidoConsumidorDados.quantidadeDisponivel; index++) {
                                      %>
                                      <% if (index == produtoPedidoConsumidorDados.quantidade) {%>
                                          <option value="<%=index%>" selected><%=index%></option>
                                      <% } else { %>
                                          <option value="<%=index%>"><%=index%></option>
                                      <% } %>
                                    <% } %>
                                </select>
                             <% } %>
                            </div>

                          <!--<div class="description">
                            <a data-toggle="collapse" data-target="#<%=nomeColap%>">BENEFÍCIOS E USO<br>(clique para ver):</a>
                            <div id="<%=nomeColap%>" class="collapse">
                                <ul>
                                    <li>Benefício 01</li>
                                    <li>Uso 01</li>
                                    <li>Em breve teremos os benefícios e usos listados aqui!</li>
                                </ul>
                            </div>
                            
                        </div>-->

                          <!--<div class="description">
                            <a data-toggle="collapse" data-target="#<%=nomeColap%>">BENEFÍCIOS E USO<br>(clique para ver):</a>
                            <div id="<%=nomeColap%>" class="collapse">
                                <ul>
                                    <li>Benefício 01</li>
                                    <li>Uso 01</li>
                                    <li>Em breve teremos os benefícios e usos listados aqui!</li>
                                </ul>
                            </div>
                            
                        </div>-->
                        
                        </div>
                      </section>
                    <% }) %>
                  </div>
                    
                
                
              </div><!-- end cardPedidoFornecedor -->

              <!--<div class="pesquisa"> --> 

<div class="container_confirmar">
  <%if (statusPedido == 'finalizado') { %>
    <% if ( usuarioAtivo.perfil) {
        if ( usuarioAtivo.perfil.indexOf('admin') >= 0 ) { %>
          <button class="buy--btn"
                  form="form-pedidoConsumidores"
                  type="submitSalvar" 
                  title="Salvar Dados"
                  name="salvarPedido">
                  CONFIRMAR PEDIDO</button>
        <% } else { %>
          <button class="buy--btn"
                        form="form-pedidoConsumidores"
                        type="submitSalvar" 
                        title="Finalizar Pedido"
                        name="finalizarPedido"
                        disabled>
                        PEDIDO FINALIZADO</button>
    <% }} %>
  <% } else { %>
    <button class="buy--btn"
                  form="form-pedidoConsumidores"
                  type="submitSalvar" 
                  title="Salvar Dados"
                  name="salvarPedido">
                  CONFIRMAR PEDIDO</button>
    <!--<button class="buy--btn"
                  form="form-pedidoConsumidores"
                  type="submitSalvar" 
                  title="Finalizar Pedido"
                  name="finalizarPedido">
                  FINALIZAR PEDIDO</button>-->
  <% } %>
</div>

<!--</div>-->
            
            </div><!-- end listaprodutos -->

            
  
        </form>
      </main>
 
  </div><!-- end container -->

  </body>
</html>
 