<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Divino Alimento - Akarui</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/index-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />
    <link rel="stylesheet" href="/styles/pages/index-pontoentrega.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script src="scripts/index-pontoentrega.js" defer type="module"></script>
  </head>
  <body id="page-index">

    <%- include('parts/index-header', {
      button_text:'Adicionar Novo Ponto de Entrega',
      button_link:'pontoentrega'
      }) %> 

    <div class="container">
      <main class="animate-up delay-2">
        <h1 class="sr-only">Pontos de Entrega</h1>

        <div class="cards">

          <% i = 0
             pontosEntrega.forEach((pontoEntrega) => { 
            i += 1 %>
           
            <div class="card <%= pontoEntrega.status %> " data-id="<%= pontoEntrega.id %> ">
              <div class="id column"><%= i %> </div>
              <div class="name column">
                <%= pontoEntrega.nome %> 
              </div>
              <div class="deadline column">
                <span>Endereço<option value=""></option></span>
                <p> <%= pontoEntrega.endereco %> </p>
              </div>
              <div class="amount column">
                <span></span>
                <p></p>
              </div>
              <div class="status badge column">
                <%= pontoEntrega.status === 'inativo' ? 'Inativo' : 'Ativo' %> 
              </div>
              <div class="actions column flex">
                <p class="sr-only">Ações</p>
                <a 
                  href="/pontoEntrega/<%= pontoEntrega.id %> " 
                  class="button white edit" 
                  title="Editar Ponto de Entrega">
                  <img src="/images/edit-24.svg" alt="Editar Ponto de Entrega" />
                </a>
                <button class="delete button white" title="Excluir Ponto de Entrega">
                  <img src="/images/trash-24.svg" alt="Excluir Ponto de Entrega" />
                </button>
              </div>
            </div>
            <!-- end card -->

          <% }) %>
      </main>
    </div>
    <!-- end container -->

    <div class="modal-wrapper">
      <div class="modal">
        <img src="/images/trash-48.svg" alt="Excluir Ponto de Entrega" title="Excluir Ponto de Entrega" />
        <h3>Excluir Ponto de Entrega</h3>
        <p>Quer mesmo excluir esse ponto de entrega? <br/>
        Ele será apagado para sempre.  
        <p>
        <footer>
          <a 
            class="button gray" 
            href="#">Cancelar</a>
          <button
            class="button red"
            type="submit"
            form="delete-pontoentrega">Excluir Ponto de Entrega</button>
        </footer>
      </div>
      <form 
        method="post" 
        action="/pontoentrega/delete" 
        id="delete-pontoentrega"></form>
    </div>
    <!-- end modal-wrapper -->
  </body>
</html>
