<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Divino Alimento - Akarui</title>

    <link rel="stylesheet" href="/styles/partials/header2023_v1.css" />
    
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />
    <link rel="stylesheet" href="/styles/pages/index-produto.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script src="scripts/index-produto.js" defer type="module"></script>


    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

    <script>
      $(document).ready(function(){
        $("#search-produto").on("keyup", function() {
          //var value = $(this).val().toLowerCase();
          //value = replaceSpecialChars(value)
          var value = replaceSpecialChars($(this).val().toLowerCase())
          $(".cards span.card_produto").filter(function() {
            //$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            //var value2 = $(this).text().toLowerCase();
            //value2 = replaceSpecialChars(value2)
            var value2 = replaceSpecialChars($(this).text().toLowerCase())
            $(this).toggle(value2.indexOf(value) > -1)
          });
        });
      });
  
      function replaceSpecialChars(str)	{
        if (!str) return ''
        str = str.toString()
        str = str.replace(/[aáàãäâ]/,'a')
        str = str.replace(/[eéèëê]/,'e')
        str = str.replace(/[iíìïî]/,'i')
        str = str.replace(/[oóòõöô]/,'o')
        str = str.replace(/[uúùüû]/,'u')
        str = str.replace(/[ç]/,"c")
        return str 
      }
    </script>

    




  </head>
  <!--<body id="page-index">-->
  <body>

    <div class="container">

      <div id="page-index-produto">

          <%- include('parts/header2023_v1', {
            button_text:'Adicionar Novo Produto',
            button_link:'produto'
          }) %>

          <div id="container-pesquisa" class="fixed-top">

            <div id="pesquisa" class="fixo">
              <h5>
                Produtos
              </h5> 
              <input class="form-control" id="search-produto" type="text" placeholder="Nome do produto..">
            </div>

            <div id="filtros_botao">

                <div id="filtros"> 
                  <span>
                    Filtros
                  </span>
                  <span>
                    <% if (view == "all") { %>
                        <a href="/produto-index/" class="button-filtro" role="button">Ver só ativos</a>
                    <% } else { %>
                        <a href="/produto-index?view=all" class="button-filtro" role="button">Ver todos</a>
                    <% } %>
                  </span>
                </div>

                <div id="botao_incluir">
                      <a class="button orange" href="/produto">
                        <span>
                            <img src="/images/plus-24.svg" alt="Adicionar Produto" /> 
                        </span>
                            Adicionar Produto
                      </a>
                </div>
            </div>
        </div>


        <div id="lista_produtos">
            <!--<main class="animate-up delay-2">-->
              <main>
              
              

              <h1 class="sr-only">Produtos</h1>

              <div class="cards">

                <% i = 0
                  produtos.forEach((produto) => { 
                  i += 1 %>
                
                  <a name="<%= produto.id %>"></a>
                  <span class="card_produto">
                  <div class="card <%= produto.status %> " data-id="<%= produto.id %> ">
                    <div class="id column"><%= i %> </div>
                    <div class="nome column">
                      <%= produto.nome %><br>
                      <span class="descritivo"><%= produto.descritivo %></span> 
                    </div>
                    <div class="categoria column">
                      <span>Categoria</span>
                      <p> <%= produto.categoriaNome %> </p>
                    </div>
                    <div class="medida column">
                      <span>Medida</span>
                      <p> <%= produto.medida %> </p>
                    </div>
                    <div class="valor column">
                      <span>Valor Referência</span>
                      <p> R$ <%= produto.valorReferencia
                        %></p>
                    </div>
                    <div class="status badge column">
                      <%= produto.status === 'inativo' ? 'Inativo' : 'Ativo' %> 
                    </div>
                    <div class="actions column flex">
                      <p class="sr-only">Ações</p>
                      <a 
                        href="/produto/<%= produto.id %> " 
                        class="button white edit" 
                        title="Editar Produto">
                        <img src="/images/edit-24.svg" alt="Editar Produto" />
                      </a>
                      <button class="delete button white" title="Excluir Produto">
                        <img src="/images/trash-24.svg" alt="Excluir Produto" />
                      </button>
                    </div>
                  </div>
                </span>
                  <!-- end card -->

                <% }) %>
              
              </div>
            </main>
          </div>
          <!-- end -->

          <div class="modal-wrapper">
            <div class="modal">
              <img src="/images/trash-48.svg" alt="Excluir Produto" title="Excluir Produto" />
              <h3>Excluir Produto</h3>
              <p>Quer mesmo excluir esse produto? <br/>
              Ele será apagado para sempre.  
              <p>
              <footer>
                <a 
                  class="button gray" 
                  href="#">Cancelar</a>
                <button
                  class="button red"
                  type="submit"
                  form="delete-produto">Excluir Produto</button>
              </footer>
            </div>
            <form 
              method="post" 
              action="/produto/delete" 
              id="delete-produto"></form>
          </div>
          <!-- end modal-wrapper -->
      </div>
    </div>
  </body>
</html>
