<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Divino Alimento - Akarui</title>

    <link rel="stylesheet" href="/styles/partials/header.css" />
    
    <!--<link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/index-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <link rel="stylesheet" href="/styles/partials/forms.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />-->

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- links bootstrap -->

    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!--<script src="/js/bootstrap.min.js"></script>-->


    <link rel="stylesheet" href="/styles/pages/index.css" />

    <script>
        // JS only for the switch
        $(function(){
          $("#switch-view").click(function(){
            $(this).find("button").toggleClass("active");
            $(".article-wrapper").toggleClass("bloc col-xs-12 col-xs-4");
          });
        });
    </script>

  </head>
  
  <body>

   
    <%- include('parts/header_index', {
      button_text:'vazio',
      button_link:''
      }) %>        

      <main>

        <% ciclos.forEach(ciclo => {%>

            <div id="container_ciclos">

              <div class="container">          
                
                  <div class="ciclo">

                        <div class="info_ciclo">
                          <h1>CICLO&nbsp<%= ciclo.nome %></h1>
                          <p>DATA INÍCIO:&nbsp<% 
                                if (ciclo.ofertaInicio) { %>
                                <%=
                                  ciclo.ofertaInicio.toISOString().substr(8,2)%>/<%=
                                  ciclo.ofertaInicio.toISOString().substr(5,2)%>/<%=
                                  ciclo.ofertaInicio.toISOString().substr(0,4)%>&nbsp&nbsp<%=
                                  ciclo.ofertaInicio.toISOString().substr(11,5)%>
                                <% } %>
                          </p>
                          <p>DATA FIM:&nbsp<%
                                if (ciclo.retiradaConsumidorFim) { %>
                                <%=
                                  ciclo.retiradaConsumidorFim.toISOString().substr(8,2)%>/<%=
                                  ciclo.retiradaConsumidorFim.toISOString().substr(5,2)%>/<%=
                                  ciclo.retiradaConsumidorFim.toISOString().substr(0,4)%>&nbsp&nbsp<%=
                                  ciclo.retiradaConsumidorFim.toISOString().substr(11,5)%>
                                <% } %> 
                          </p>
                        </div>

                        <%
                            const ofertaInicio = Date.parse(ciclo.ofertaInicio)
                            const ofertaFim = Date.parse(ciclo.ofertaFim)
                            const dataAtual = Date.now() - 10800000
                            let ofertaAtiva = 0
                            if ( usuarioAtivo.perfil) {
                            if ( usuarioAtivo.perfil.indexOf('fornecedor') >= 0 ) {
                              if ((dataAtual >= ofertaInicio) && (ofertaFim >= dataAtual)) {
                                ofertaAtiva = 1
                              }
                            }
                          }     
                        %>

                        <% if ((usuarioAtivo.email_verified != "false") && (ofertaAtiva == 1)) {%>        
                            <div class="box info_oferta corAtivo">
                              <div class="img-wrapper corAtivo">
                                <img src="/images/oferta.svg" alt="Oferta de Produtos" />
                              </div>
                              <a href="/oferta/<%= ciclo.id %>">
                                <h3>Oferta de Produtos</h3></a>
                        <% } else { %>
                            <div class="box info_oferta corInativo">
                              <div class="img-wrapper corInativo">
                                <img src="/images/oferta.svg" alt="Oferta de Produtos" />
                              </div>
                              <h3>Oferta de Produtos</h3>
                        <% } %>
                        <p>DATA INÍCIO:&nbsp<% 
                              if (ciclo.ofertaInicio) { %>
                              <%=
                                ciclo.ofertaInicio.toISOString().substr(8,2)%>/<%=
                                ciclo.ofertaInicio.toISOString().substr(5,2)%>/<%=
                                ciclo.ofertaInicio.toISOString().substr(0,4)%>&nbsp&nbsp<%=
                                ciclo.ofertaInicio.toISOString().substr(11,5)%>
                              <% } %>
                        </p>
                        <p>DATA FIM:&nbsp<%
                              if (ciclo.ofertaFim) { %>
                              <%=
                                ciclo.ofertaFim.toISOString().substr(8,2)%>/<%=
                                ciclo.ofertaFim.toISOString().substr(5,2)%>/<%=
                                ciclo.ofertaFim.toISOString().substr(0,4)%>&nbsp&nbsp<%=
                                ciclo.ofertaFim.toISOString().substr(11,5)%>
                              <% } %> 
                        </p>
                        <!--<p>Numquam dolorem sed quae placeat iusto! Quibusdam doloremque enim assumenda aliquam impedit earum alias labore.</p>-->
                      </div>

                      <%
                          const composicaoInicio = Date.parse(ciclo.ofertaInicio)
                          const composicaoFim = Date.parse(ciclo.itensAdicionaisInicio)
                          let composicaoAtiva = 0
                          if ( usuarioAtivo.perfil) {
                            if ( usuarioAtivo.perfil.indexOf('admin') >= 0 ) {
                              if ((dataAtual > composicaoInicio) && (composicaoFim > dataAtual)) {
                                  composicaoAtiva = 1
                              }
                            }
                          }
                      %>
                      <% if ((usuarioAtivo.email_verified != "false") && (composicaoAtiva == 1)) {%> 
                        <div class="box info_composicao corAtivo">
                          <div class="img-wrapper corAtivo">
                            <img src="/images/composicao.svg" alt="Composiçãs das Cestas" />
                          </div>
                          <a href="/composicao/<%= ciclo.id %>">
                            <h3>Composição das Cestas</h3></a>
                      <% } else { %>
                        <div class="box info_composicao corInativo">
                          <div class="img-wrapper corInativo">
                            <img src="/images/composicao.svg" alt="Composiçãs das Cestas" />
                          </div>
                          <h3>Composição das Cestas</h3>
                      <% } %>
                      <p>DATA INÍCIO:&nbsp;<% 
                          if (ciclo.ofertaFim) { %>
                              <%=
                                ciclo.ofertaInicio.toISOString().substr(8,2)%>/<%=
                                ciclo.ofertaInicio.toISOString().substr(5,2)%>/<%=
                                ciclo.ofertaInicio.toISOString().substr(0,4)%>&nbsp&nbsp<%=
                                ciclo.ofertaInicio.toISOString().substr(11,5)%>
                          <% } %>
                      </p>
                      <p>DATA FIM:&nbsp;<%
                          if (ciclo.itensAdicionaisInicio) { %>
                              <%=
                                ciclo.itensAdicionaisInicio.toISOString().substr(8,2)%>/<%=
                                ciclo.itensAdicionaisInicio.toISOString().substr(5,2)%>/<%=
                                ciclo.itensAdicionaisInicio.toISOString().substr(0,4)%>&nbsp&nbsp<%=
                                ciclo.itensAdicionaisInicio.toISOString().substr(11,5)%>
                          <% } %> 
                      </p>
                              
                      <!--<p>Numquam dolorem sed quae placeat iusto! Quibusdam doloremque enim assumenda aliquam impedit earum alias labore.</p>-->
                      </div>

                      <%
                          let itensAdicionaisAtivo = 0
                          if ( usuarioAtivo.perfil) {
                            if ( usuarioAtivo.perfil.indexOf('consumidor') >= 0 ) {
                              if (ciclo.status == "composicao") {
                                itensAdicionaisAtivo = 1
                              }
                              if (ciclo.pedidoConsumidorFinalizado)  {
                                itensAdicionaisAtivo = 2
                              }
                              // não sei se existe este status mesmo, confirmar
                              if (ciclo.status == "finalizado") {
                                itensAdicionaisAtivo = 3
                              }
                              if (ciclo.status == "atribuicao") {
                                itensAdicionaisAtivo = 4
                              }
                            }
                          }  
                           
                      %>
                      <% if ((usuarioAtivo.email_verified != "false") && (itensAdicionaisAtivo > 0) && (itensAdicionaisAtivo < 3)) {%>
                        <div class="box info_pedidoAdicionais corAtivo">
                          <div class="img-wrapper corAtivo">
                            <img src="/images/pedidoConsumidores.svg" alt="Pedidos Adicionais" />
                          </div>
                          <% if (itensAdicionaisAtivo == 2) { %>
                            <a href="/pedidoConsumidoresconfirmacao/<%= ciclo.id %>?usr=<%= usuarioAtivo.id %>">
                          <% } else { %>
                            <a href="/pedidoConsumidores/<%= ciclo.id %>?usr=<%= usuarioAtivo.id %>">
                          <% } %>
                            <h3>Faça seus pedidos extras</h3></a>
                      <% } else { %>
                        <div class="box info_pedidoAdicionais corInativo">
                          <div class="img-wrapper corInativo">
                            <img src="/images/pedidoConsumidores.svg" alt="Pedidos Adicionais" />
                          </div>
                          <h3>Faça seus pedidos extras</h3>
                      <% } %>
                      <p>DATA INÍCIO:&nbsp;<% 
                          if (ciclo.itensAdicionaisInicio) { %>
                              <%=
                                ciclo.itensAdicionaisInicio.toISOString().substr(8,2)%>/<%=
                                ciclo.itensAdicionaisInicio.toISOString().substr(5,2)%>/<%=
                                ciclo.itensAdicionaisInicio.toISOString().substr(0,4)%>&nbsp&nbsp<%=
                                ciclo.itensAdicionaisInicio.toISOString().substr(11,5)%>
                          <% } %>
                      </p>
                      <p>DATA FIM:&nbsp;<%
                          if (ciclo.itensAdicionaisFim) { %>
                              <%=
                                ciclo.itensAdicionaisFim.toISOString().substr(8,2)%>/<%=
                                ciclo.itensAdicionaisFim.toISOString().substr(5,2)%>/<%=
                                ciclo.itensAdicionaisFim.toISOString().substr(0,4)%>&nbsp&nbsp<%=
                                ciclo.itensAdicionaisFim.toISOString().substr(11,5)%>
                          <% } %> 
                      </p>
                              

                      <!--<p>Numquam dolorem sed quae placeat iusto! Quibusdam doloremque enim assumenda aliquam impedit earum alias labore.</p>-->
                      </div>

                      <%
                          const entregaFornecedorArray = ciclo.entregaFornecedor
                          let indexControle = 0
                          let entregaFornecedorAtivo = 0
                          if ( usuarioAtivo.perfil) {
                            if ( usuarioAtivo.perfil.indexOf('fornecedor') >= 0 ) {
                              if (ciclo.status == "atribuicao") {
                                  entregaFornecedorAtivo = 1
                              }
                            }
                          }
                      %>

                      <% if ((usuarioAtivo.email_verified != "false") && (entregaFornecedorAtivo == 1)) {%>
                        <div class="box info_pedidoEntregaProdutos corAtivo">
                          <div class="img-wrapper corAtivo">
                            <img src="/images/entrega.svg" alt="Entrega Produtos Fornecidos" />
                          </div>
                          <a href="/pedidosfornecedores/<%= ciclo.id%>">
                            <h3>Fornecedor, veja sua lista para entrega</h3></a>
                      <% } else { %>
                        <div class="box info_pedidoEntregaProdutos corInativo">
                          <div class="img-wrapper corInativo">
                            <img src="/images/entrega.svg" alt="Entrega Produtos Fornecidos" />
                          </div>
                          <h3>Fornecedor, veja sua lista para entrega</h3>
                      <% } %>
                      <p>DATAS:</p>
                      <% entregaFornecedorArray.forEach(entrega => {%>
                          <p>de&nbsp;<% 
                              if (entrega.inicio) { %>
                                  <%=
                                    entrega.inicio.toISOString().substr(8,2)%>/<%=
                                    entrega.inicio.toISOString().substr(5,2)%>/<%=
                                    entrega.inicio.toISOString().substr(0,4)%>&nbsp;&nbsp;<%=
                                    entrega.inicio.toISOString().substr(11,5)%>
                              <% } %>
                              &nbsp;a&nbsp;<%
                            if (entrega.fim) { %>
                                <%=
                                  entrega.fim.toISOString().substr(8,2)%>/<%=
                                  entrega.fim.toISOString().substr(5,2)%>/<%=
                                  entrega.fim.toISOString().substr(0,4)%>&nbsp&nbsp<%=
                                  entrega.fim.toISOString().substr(11,5)%>
                            <% } %> 
                          </p>
                      <% }) %> 
                              
                      <!--<p>Numquam dolorem sed quae placeat iusto! Quibusdam doloremque enim assumenda aliquam impedit earum alias labore.</p>-->
                      </div>


                      <%
                          let retiradaConsumidorAtivo = 0
                          if ( usuarioAtivo.perfil) {
                            if ( usuarioAtivo.perfil.indexOf('consumidor') >= 0 ) {
                              if (itensAdicionaisAtivo > 0) {
                                retiradaConsumidorAtivo = 1
                              }
                            }
                          }
                              
                      %>

                      <% if ((usuarioAtivo.email_verified != "false") && (retiradaConsumidorAtivo == 1)) {%>
                        <div class="box info_pedidoEntregaCestas corAtivo">
                          <div class="img-wrapper corAtivo">
                            <img src="/images/cesta.svg" alt="Entrega Cestas" />
                          </div>
                          <a href="/pedidosconsumidorestodos/<%= ciclo.id %>?usr=<%= usuarioAtivo.id %>">
                            <h3>Consumidor, veja seu relatório de entrega</h3></a>
                      <% } else { %>
                        <div class="box info_pedidoEntregaCestas corInativo">
                          <div class="img-wrapper corInativo">
                            <img src="/images/cesta.svg" alt="Entrega Cestas" />
                          </div>
                          <h3>Consumidor, veja seu relatório de entrega</h3>
                      <% } %>
                      <p>DATA INÍCIO:&nbsp<% 
                        if (ciclo.retiradaConsumidorInicio) { %>
                            <%=
                              ciclo.retiradaConsumidorInicio.toISOString().substr(8,2)%>/<%=
                              ciclo.retiradaConsumidorInicio.toISOString().substr(5,2)%>/<%=
                              ciclo.retiradaConsumidorInicio.toISOString().substr(0,4)%>&nbsp&nbsp<%=
                              ciclo.retiradaConsumidorInicio.toISOString().substr(11,5)%>
                        <% } %>
                      </p>
                      <p>DATA FIM:&nbsp<%
                        if (ciclo.itensAdicionaisFim) { %>
                            <%=
                              ciclo.retiradaConsumidorFim.toISOString().substr(8,2)%>/<%=
                              ciclo.retiradaConsumidorFim.toISOString().substr(5,2)%>/<%=
                              ciclo.retiradaConsumidorFim.toISOString().substr(0,4)%>&nbsp&nbsp<%=
                              ciclo.retiradaConsumidorFim.toISOString().substr(11,5)%>
                        <% } %> 
                      </p>
                      <!--<p>Numquam dolorem sed quae placeat iusto! Quibusdam doloremque enim assumenda aliquam impedit earum alias labore.</p>-->
                    </div>

                  </div>

              </div>
            </div>
        <% }); %>


<!-- Área Telas Pessoais-->

<% if ( usuarioAtivo.perfil) {
    if ( usuarioAtivo.perfil.indexOf('admin') >= 0 ) { %>

      <div id="container_ciclos">

        <div class="container">          

          <div class="ciclo">

            <div class="info_admin">
              <h1>Funcionalidades Individuais</h1>
              <p></p>           
            </div>

            <div class="box info_admin_cicloindex corAtivo">
                  <div class="img-wrapper corAtivo">
                    <img src="/images/usuario.svg" alt="Editar Dados Pessoais"/>
                  </div>
                  <a href="/usuario/<%= usuarioAtivo.id %>">
                    <h3>Dados Pessoais</h3></a>
            
                  <p>Atualize seus dados pessoais
                  </p>
            </div>

          </div>
      </div>
    </div>

  <% }} %>



        <!-- Área Administradores-->

        <% if ( usuarioAtivo.perfil) {
            if ( usuarioAtivo.perfil.indexOf('admin') >= 0 ) { %>

              <div id="container_ciclos">

                <div class="container">          
  
                <div class="ciclo">

                    <div class="info_admin">
                      <h1>Funcionalidades Gerais</h1>
                      <p></p>           
                    </div>

                    <div class="box info_admin_cicloindex corAtivo">
                          <div class="img-wrapper corAtivo">
                            <img src="/images/ciclo.svg" alt="Administração Ciclos"/>
                          </div>
                          <a href="/ciclo-index/">
                            <h3>Ciclos</h3></a>
                    
                          <p>Acesse a tela de controle de todos os ciclos e suas iterações
                          </p>
                    </div>

                    <div class="box info_admin_relatoriofornecedores corAtivo">
                          <div class="img-wrapper corAtivo">
                            <img src="/images/entrega.svg" alt="Relatório Fornecedores"/>
                          </div>
                          <a href="/pedidosfornecedoresciclos/">
                            <h3>Relatório Fornecedores</h3></a>
                    
                          <p>Escolha os ciclos e gere o relatório com todas as movimentações dos fornecedores
                          </p>
                    </div>

                    <div class="box info_admin_relatorioconsumidores corAtivo">
                          <div class="img-wrapper corAtivo">
                            <img src="/images/pontoentrega.svg" alt="Relatório Consumidores"/>
                          </div>
                          <a href="/pedidosconsumidoresciclos/">
                            <h3>Relatório Consumidores</h3></a>
                    
                          <p>Escolha os ciclos e gere o relatório com todas as movimentações dos consumidores (por consumidor ou por produto)
                          </p>
                    </div>

                    <div class="box info_admin_cadastros corAtivo">
                          <div class="img-wrapper corAtivo">
                            <img src="/images/cadastro.png" alt="Cadastros"/>
                          </div>
                          <a href="/cadastros/">
                            <h3>Cadastros</h3></a>
                    
                          <p>Acesse as telas de cadastros
                          </p>
                    </div>
       
              </div>
          </div>
      </div>

    <% }} %>
           
  </main>

  </body>
</html>
 