<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Divino Alimento - Akarui</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/index-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <link rel="stylesheet" href="/styles/partials/forms.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- links bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="/styles/pages/pedidosFornecedoresTodos.css" />

    <!--<script>
      $(document).ready(function(){
        $("#searchCestaCiclo").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $(".dropdown-menu li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>-->

  <script>
    $(document).ready(function(){
      $("#searchProduto").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        value = replaceSpecialChars(value)
        $("#listaProdutos div.pedidoFornecedor").filter(function() {
          //$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          var value2 = $(this).text().toLowerCase()
          value2 = replaceSpecialChars(value2)
          $(this).toggle(value2.indexOf(value) > -1)
        });
      });
    });

    function replaceSpecialChars(str)	{
      if (!str) return ''
      str = str.toString()
      str = str.replace(/[aáàãäâ]/,'a')
      str = str.replace(/[eéèëê]/,'e')
      str = str.replace(/[iíìïî]/,'i')
      str = str.replace(/[oóòõöô]/,'o')
      str = str.replace(/[uúùüû]/,'u')
      str = str.replace(/[ç]/,"c")
      return str 
    }
  </script>


  </head>
  <body id="page-pedidosFornecedores">

   
    <%- include('parts/index-header', {
      button_text:'vazio',
      button_link:''
      }) %>


  <!--<div class="container flex animate-up delay-2">-->
  <div class="container">
      <main>
          <div>

            <!--<nav class="nav nav-pills nav-justified">
              <a class="nav-item nav-link active" href="#">Entregas</a>
              <a class="nav-item nav-link" href="../pedidosconsumidorestodos/ <%= ciclo.id %> ">Pedidos</a>
            </nav>-->

            <legend>Entregas dos Fornecedores</legend>

            <div class="pesquisa">         

              <p>Utilize o filtro de fornecedores/produtos para lhe auxiliar:</p>  
              <input class="form-control" id="searchProduto" type="text" placeholder="Digite o nome do fornecedor/produto..">
              <br>

            </div>
          
            <div id="listaProdutos">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Fornecedor</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Medida</th>
                    <th scope="col" style="min-width:75px;">Valor</th>
                    <th scope="col">CRAS</th>
                    <th scope="col">VILA</th>
                    <th scope="col">GRUPO</th>
                    <th scope="col">EXTRA</th>
                    <th scope="col">Total</th>

                  </thead>
                  <tbody>
                  
                      <% let fornecedorCorrente = 0
                         let fornecedorAnterior = 0
                         let colorCel = 0
                        produtosPedidosFornecedoresDados.forEach(produtoPedidoFornecedorDados => {
                          fornecedorCorrente = produtoPedidoFornecedorDados.fornecedorId
                          if (fornecedorCorrente != fornecedorAnterior) {
                            fornecedorAnterior = fornecedorCorrente
                            if (colorCel == 0) {
                              colorCel = 1
                            } else {
                              colorCel = 0
                            }
                         %>
                        <% if (colorCel == 0) { %>
                          <tr class='linha_par'>
                        <% } else { %>
                          <tr class='linha_impar'>
                        <% } %>
                          <th>
                                <%= produtoPedidoFornecedorDados.fornecedor %>
                          </th>
                          <td>
                            <%= produtoPedidoFornecedorDados.nome.split('(')[0] %>
                          </td>
                          <td>
                            <%= produtoPedidoFornecedorDados.medida %>
                          </td>
                          <td>
                            R$ <%= produtoPedidoFornecedorDados.valorReferencia.toFixed(2).replace('.',',' ) %>
                          </td>
                                <% 
                                    quantCesta_CRAS = 0
                                    quantCesta_VILA = 0
                                    quantCesta_GRUPO = 0
                                    quantCesta_EXTRA = 0
                                    pedidosCestas = produtoPedidoFornecedorDados.pedidosCestas
                                    pedidosCestas.forEach(pedidoCesta => { 
                                      if (Number(pedidoCesta.cestaId) == 2) {
                                        quantCesta_CRAS = pedidoCesta.cestaQuantidade
                                      } else {
                                        if (Number(pedidoCesta.cestaId) == 4) {
                                           quantCesta_VILA = pedidoCesta.cestaQuantidade
                                        } else {
                                          if ( (Number(pedidoCesta.cestaId) == 3) || (Number(pedidoCesta.cestaId) == 7) ) {
                                           quantCesta_GRUPO = pedidoCesta.cestaQuantidade
                                          } else {
                                            if (Number(pedidoCesta.cestaId) == 5) {
                                              quantCesta_EXTRA = pedidoCesta.cestaQuantidade
                                            } 
                                          }
                                        }
                                      }
                                    }) %>
                                    <td>
                                        <% if (Number(quantCesta_CRAS) > 0) { %>
                                          <%= quantCesta_CRAS %>
                                        <% } %>
                                    </td>
                                    <td>
                                        <% if (Number(quantCesta_VILA) > 0) { %>
                                          <%= quantCesta_VILA %>
                                        <% } %>
                                    </td>
                                    <td>
                                        <% if (Number(quantCesta_GRUPO) > 0) { %>
                                          <%= quantCesta_GRUPO %>
                                        <% } %>
                                    </td>
                                    <td>
                                        <% if (Number(quantCesta_EXTRA) > 0) { %>
                                          <%= quantCesta_EXTRA %>
                                        <% } %>
                                    </td>
                          <td>
                            <%= produtoPedidoFornecedorDados.quantidadePedidos %>
                          </td>
                          </tr>
                    <% } else { %>
                        <% if (colorCel == 0) { %>
                          <tr class='linha_par'>
                        <% } else { %>
                          <tr class='linha_impar'>
                        <% } %>
                          <th><%= produtoPedidoFornecedorDados.fornecedor %></th>
                          <td>
                            <%= produtoPedidoFornecedorDados.nome.split('(')[0] %>
                          </td>
                          <td>
                            <%= produtoPedidoFornecedorDados.medida %>
                          </td>
                          <td>
                            R$ <%= produtoPedidoFornecedorDados.valorReferencia.toFixed(2).replace('.',',' ) %>
                          </td>
                          <% 
                                    quantCesta_CRAS = 0
                                    quantCesta_VILA = 0
                                    quantCesta_GRUPO = 0
                                    quantCesta_EXTRA = 0
                                    pedidosCestas = produtoPedidoFornecedorDados.pedidosCestas
                                    pedidosCestas.forEach(pedidoCesta => { 
                                      if (Number(pedidoCesta.cestaId) == 2) {
                                        quantCesta_CRAS = pedidoCesta.cestaQuantidade
                                      } else {
                                        if (Number(pedidoCesta.cestaId) == 4) {
                                           quantCesta_VILA = pedidoCesta.cestaQuantidade
                                        } else {
                                          if ( (Number(pedidoCesta.cestaId) == 3) || (Number(pedidoCesta.cestaId) == 7) ) {
                                           quantCesta_GRUPO = pedidoCesta.cestaQuantidade
                                          } else {
                                            if (Number(pedidoCesta.cestaId) == 5) {
                                              quantCesta_EXTRA = pedidoCesta.cestaQuantidade
                                            } 
                                          }
                                        }
                                      }
                                    }) %>
                                    <td>
                                        <% if (Number(quantCesta_CRAS) > 0) { %>
                                          <%= quantCesta_CRAS %>
                                        <% } %>
                                    </td>
                                    <td>
                                        <% if (Number(quantCesta_VILA) > 0) { %>
                                          <%= quantCesta_VILA %>
                                        <% } %>
                                    </td>
                                    <td>
                                        <% if (Number(quantCesta_GRUPO) > 0) { %>
                                          <%= quantCesta_GRUPO %>
                                        <% } %>
                                    </td>
                                    <td>
                                        <% if (Number(quantCesta_EXTRA) > 0) { %>
                                          <%= quantCesta_EXTRA %>
                                        <% } %>
                                    </td>
                            
                          <td>
                            <%= produtoPedidoFornecedorDados.quantidadePedidos %>
                          </td>
                          </tr>
                    <% } %>
                    
                    <% }) %>
                    
                
                
                </tbody>
                </table><!-- end table -->

            </div><!-- end listaprodutos -->

          </div>
  
      </main>
 
  </div><!-- end container -->

  </body>
</html>
 